if SHIELD_SHAPEKEY_R

config ZMK_KEYBOARD_NAME
    default "shapekey_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SHAPEKEY_L

config ZMK_KEYBOARD_NAME
    default "shapekey_L"

config ZMK_SPLIT
    default y

endif
