if SHIELD_SHAPEKEY_R

config ZMK_KEYBOARD_NAME
    default "shapekey_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

 config PMW3610_REPORT_INTERVAL_MIN
    int "PMW3610 Report Interval (ms)"
    default 12

endif

if SHIELD_SHAPEKEY_L

config ZMK_KEYBOARD_NAME
    default "shapekey_L"

config ZMK_SPLIT
    default y

endif
